/*초기값*/
* {box-sizing:border-box; margin:0; padding:0;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {/*margin:0;padding:0;*/ border:0; /*font-size:100%; font:inherit;*/ vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}
li{list-style-type:none;}
a:link, a:visited{text-decoration:none; /*color:#000;*/}
a:hover, a:focus{text-decoration:none;}
table caption {display:none;}
table h3{letter-spacing:-1px; font-size:20px; color:#000;}
table .red{color:#ff0000;}
table .blue{color:#1d49ad;}
.blue{color:#1d49ad;}
table .dar_gray{color:#202020}

/*wrap*/
#wrapper{width:100%; margin:0 auto; /*background:pink;*/ font-family:'NotoSansCJK';}

/*container*/
.container{position:relative; width:1180px; margin:100px auto 0;/* background:pink*/}

/*location_bar
.location_bar{position:absolute; top:-120px; width:1180px; line-height:40px; margin:0 auto; background:#1d49ad;}
.location_bar ul li{display:inline-block;}
.location_bar ul li:first-child{width:40px; text-align:center; border-right:1px solid rgba(255,255,255,0.3);}
.location_bar ul li:last-child{width:139px; font-size:14px; color:#fff; border-right:1px solid rgba(255,255,255,0.3);}
.location_bar ul li:last-child a{color:#fff}*/

.location_bar{position:absolute; top:-120px; width:1180px; line-height:40px; margin:0 auto; background:#1d49ad;}
.location_bar span{display:inline-block; border-right:1px solid rgba(255,255,255,0.3);}
.location_bar .loc_1{padding:0 10px;}
.location_bar .loc_2, .location_bar .loc_3{padding-left:20px;}
.location_bar .loc_2{width:140px;}
.location_bar .loc_3{width:190px;}
.location_bar span a{display:block; color:#fff}

/*section*/
section{margin-bottom:40px;}
.title_big{margin-bottom:20px; font-size:20px; color:#000;}

/* table type A */
.table_typeA{width:100%; text-align:left; border-spacing:0px; border-top:1px solid #363636; border-bottom:1px solid #363636;}
.table_typeA th {padding:25px 30px; border-bottom:1px solid #e6e6e6; line-height: 25px; vertical-align:top; color:#202020; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px;}
.table_typeA td {padding-left:30px; border-bottom:1px solid #e6e6e6; line-height: 25px; vertical-align:middle; color:#666}
.table_typeA .blue{color:#1d49ad;}
.table_typeA .selecedA{width:300px; height:40px; padding:0 10px; border:1px solid #e3e6e8; color:#666; background:url(../img/arrow.png) no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.table_typeA .col{border-bottom:none; line-height:20px;}

/* table type B */
.table_typeB{width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636;}
.table_typeB th {padding:25px 30px; color:#202020; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 7%;}
.table_typeB td label{line-height:24px;}
.table_typeB ul{padding:25px 0 25px 30px;}
.table_typeB ul li{width:50%; padding-bottom:30px; float:left;}
.table_typeB ul li:last-child{padding-bottom:0px;}
.table_typeB ul:after{content:''; display:block; clear:both; }
.table_typeB .blak{display:block; margin-top:12px; color:#202020; font-size:12px;}

/*input_checkbox*/
.table_typeB .input_box{display:block; position:relative; padding-left:35px; cursor:pointer; -webkit-user-select: none;}
.table_typeB .input_box input{position:absolute; opacity:0; cursor:pointer; height:0; width:0;}
.table_typeB .checkmark:before {content:''; display:block; position: absolute; top: 5px; left: 9px; width:5px; height:10px; border:solid #ddd; border-width:0 3px 3px 0; 
     -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.table_typeB .checkmark{position:absolute; top:0; left:0; height:24px; width:24px; background-color:#fff; outline:1px solid #ddd;}
/*.section2 .container:hover input ~ .checkmark{background-color:red; }*/
.table_typeB .input_box input:checked ~ .checkmark{background-color:#1d49ad; outline:1px solid #ddd;}
.table_typeB .checkmark:after{content: ""; position: absolute; display: none;}
.table_typeB .input_box input:checked ~ .checkmark:after{display: block;}
.table_typeB .input_box .checkmark:after{left:9px; top:5px; width:5px; height:10px; border:solid #fff; border-width:0 3px 3px 0; 
     -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); outline:1px solid #1d49ad;}
/*.text{margin-top:20px; font-size:16px; color:#666;}*/

.text{position:relative; margin-top:20px; margin-left:14px; line-height:25px; color:#666; font-size:16px;}
.text:after{content:'※'; display:block; clear:both; position:absolute; top:0px; left:-17px;}

/* table type C */
.table_typeC{width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636}
.table_typeC th {padding:25px 30px; color:#202020; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px}
.table_typeC td{padding:15px 0 15px 30px;}
.table_typeC td:after{content:''; display:block; clear:both;}
.table_typeC li{position:relative; width:310px; height:113px; float:left; margin-right:-1px; margin-top:-1px; padding:30px 55px; background:#fff; border:1px solid #e3e6e8; text-align:left;}
.table_typeC label{font-weight:bold; font-size:20px; color:#202020;}
.table_typeC input{position:absolute; left:30px; top:30px; width:17px; height:17px; background:#e2e2e2; border:1px solid #ccc} 
.table_typeC p:first-child{margin-bottom:20px;}
.table_typeC p:last-child{font-size:16px; color:#666; letter-spacing:-2px;} 

/* table type D */
.table_typeD{width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636}
.table_typeD th {padding:25px 30px; color:#202020; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px;}
.table_typeD td{padding:15px 0 15px 30px;}
.table_typeD ul li:first-child{margin-bottom:10px;}
.table_typeD ul li::after{content:''; display:block; clear:both;}
.table_typeD label{display:block; float:left; padding-top:10px; margin-right:10px; font-size:16px; color:#202020;}

.table_typeD label, .table_typeD input{vertical-align:top;}
.table_typeD .selecedB{width:100px; height:40px; float:left; margin-left:-1px; border:1px solid #e3e6e8; padding:0 15px; background:url(../img/arrow.png) no-repeat 92% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

.table_typeD .cal_btn_wrap{display:block; position: relative; width:190px; height:40px; float:left;}
.table_typeD .cal_btn_wrap input[type=text] {padding:0 15px; padding-right:40px; display:block; width:100%; line-height:38px; color:#333; font-size:1.077rem; -webkit-appearance:none; border:1px solid #e3e6e8}
.table_typeD .cal_btn_wrap input[type=date] {position:absolute; top:0; right:0; bottom:0; width:40px; height:40px; background:url(../img/calendar.png) no-repeat 50%; border:0 none; background-size:22px 22px; -webkit-appearance:none; color:transparent; font-size:0; line-height:0;}

/* table type E */
.table_typeE {width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636}
.table_typeE th{padding:25px 30px; color:#202020; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px;}
.table_typeE td{padding:25px 0 25px 30px;}
.table_typeE label{color:#666; font-size:16px;}
.table_typeE .text_coupon{margin-bottom:15px; font-size:16px; color:#666;}
.table_typeE .selecedA{width:300px; height:40px; margin-right:20px; padding:0 15px; border:1px solid #e3e6e8; background:url(../img/arrow.png) no-repeat 92% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

/* btn*/
.btn{position:relative; width:1180px; margin:80px auto 100px; height:50px; line-height:50px;}
.btn ul{width:310px; margin:0 auto;}
.btn ul li{width:150px; float:left; text-align:center;}
.btn ul li:first-child{margin-right:10px; outline:1px solid #ccc; background:#fff;}
.btn ul li:first-child a{display:block; color:#444}
.btn ul li:last-child{background:#16295d;}
.btn ul li:last-child a{display:block; color:#fff}

/* notice*/
.notice{width:1180px; margin:100px auto 120px; padding:40px 30px; outline:1px solid #e6e6e6;}
.notice p{position:relative; margin-left:48px; height:30px; color:#202020; letter-spacing:-2px; font-weight:bold; font-size:22px; float:left; padding-top:10px;}
.notice p:after{content:''; display:block; width:28px; height:28px; position:absolute; left:-41px; top:8px; background:url(../img/notion.png) no-repeat}
.notice ul{float:left; margin-left:50px;}
.notice ul li{position:relative; line-height:25px; margin-left:9px; letter-spacing:-1px; font-size:16px; color:#888;}
/*.notice ul li:first-child{margin-bottom:7px;}*/
.notice ul li:after{position:absolute; left:-9px; top:10px; content:''; display:block; clear:both; width:5px; height:5px; border-radius:10px; background:#ddd;}
.notice:after{content:''; display:block; clear:both;}

/* noticeA*/
/*.noticeA{vertical-align:bottom; padding:20px 30px;}
.noticeA p{padding-top:2px;}
.noticeA p:after{top:0;}*/

/*table type F */
.table_typeF {width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636}
.table_typeF th{padding:25px 30px; border-bottom:1px solid #e6e6e6; color:#202020; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px;}
.table_typeF td{/*line-height:20px;*/ padding:15px 30px 15px 30px; border-bottom:1px solid #e6e6e6;}
.table_typeF .selecedA{width:300px; height:40px; margin-right:20px; padding:0 15px; color:#666; border:1px solid #e3e6e8; background:url(../img/arrow.png) no-repeat 92% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.table_typeF input[type=text] {width:100%; height:40px; padding:0 15px; border:1px solid #e6e6e6;}
.table_typeF textarea {width:100%; height:375px; padding:15px 15px; border:1px solid #e6e6e6;}
.table_typeF .col{border-bottom:none;}
.table_typeF .col .text_byte{margin-top:10px; text-align:right; font-size:12px; color:#888; float:right;}

/*text_img */
.text_img{width:100%; text-align:center;}
.text_img h3{line-height:40px; font-size:30px; color:#000;}
.text_img .blue{color:#1d49ad;}
.text_img .small_text{margin:20px 0 40px; font-size:18px; color:666;}

.text_img .select_a{width:400px; height:60px; margin-bottom:80px; padding:0 30px; font-size:24px; color:#363636; border:1px solid #000; background:url(../img/triang.png) no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.imgs p:last-child{font-size:24px; letter-spacing:-1px; color:#363636; margin-top:25px;}

/* table type G */ 
.table_typeG{width:100%; margin:60px auto 0; text-align:center; font-size:16px; border-top:2px solid #363636; }
.table_typeG td{padding:25px 0; line-height:25px; vertical-align:middle; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6}
.table_typeG .border_show{padding:25px 0; color:#202020; border-bottom:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; background:#f7f7f7;}
.table_typeG .bg_liht{background:#f8fafc; border-left:1px solid #e6e6e6} 
.table_typeG .text_gray{color:#666;}
.table_typeG .text_bark{color:#202020; font-weight:bold;}
.table_typeG .text_blue{color:#1d49ad;}
.table_typeG .bg_pink{background:rgba(255,29,29,0.1);}
.table_typeG .line_a{border:2px solid #363636;}

.text_a{position:relative; margin-top:40px; margin-left:14px; line-height:25px; color:#666; font-size:16px;}
.text_a:after{content:'※'; display:block; clear:both; position:absolute; top:0px; left:-17px;}

/* btn_a*/
.btn_a{position:relative; width:1180px; margin:80px auto 100px; height:50px; line-height:50px;}
.btn_a ul{width:150px; margin:0 auto;}
.btn_a ul li{width:150px; float:left; text-align:center;}
.btn_a ul li:first-child{margin-right:10px; outline:1px solid #ccc; background:#fff;}
.btn_a ul li:first-child a{display:block; color:#444}
.btn_a ul li:last-child{background:#16295d;}
.btn_a ul li:last-child a{display:block; color:#fff}

/* searced */
.cell_box{overflow:hidden}
.select_box{float:right}
.select_box .seleced{width:100px; height:40px; margin-right:-1px; padding:0 15px; float:left; font-size:16px; color:#888; border:1px solid #000; background:url(../img/arrow.png) no-repeat 92% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.select_box label{display:none;}          
.select_box input{width:320px; height:40px; padding:0 15px; color:#ccc; border:1px solid #000;}  
.select_box:after{content:''; display:block; clear:both;}

.select_box .cal_btn_wrap_a{display:block; position: relative; width:320px; height:40px; float:left;}
.select_box .cal_btn_wrap_a input[type=search] {padding:0 15px; padding-right:40px; display:block; width:100%; line-height:38px; color:#333; font-size:1.077rem; -webkit-appearance:none; border:1px solid #000}
.select_box .cal_btn_wrap_a input[type=text] {position:absolute; top:0; right:0; bottom:0; width:40px; height:40px; background:url(../img/search.png) no-repeat 50%; border:0 none; background-size:22px 22px; -webkit-appearance:none; color:transparent; font-size:0; line-height:0;}

/* table type H */
.table_typeH{width:100%; margin:20px auto 0; text-align:center; font-size:16px; border-top:2px solid #363636; }
.table_typeH thead th:first-child{border-left:none;}
.table_typeH td{padding:20px 20px; line-height:25px; vertical-align:middle; color:#666; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6}
.table_typeH .dar_gray{color:#202020;}
.table_typeH tr td:last-child{border-right:none;}
.table_typeH .left_align{text-align:left;}
.table_typeH .border_show{padding:25px 0; color:#202020; border-bottom:1px solid #e6e6e6; border-left:1px solid #e6e6e6; background:#f7f7f7;}
.table_typeH .bg_liht{background:#f8fafc; border-left:1px solid #e6e6e6} 
.table_typeH .text_gray{color:#666;}
.table_typeH .text_bark{color:#202020; font-weight:bold;}
.table_typeH .text_blue{color:#1d49ad;}
.table_typeH .bg_pink{background:rgba(255,29,29,0.1);}
.table_typeH .line_a{border:2px solid #363636;}
.table_typeH .part{display:inline-block; width:70px; margin-right:10px; font-size:14px; text-align:center; line-height:25px; border-radius:3px; color:#fff; background:#16295d;}
.table_typeH .news{background:#1d49ad;}
.table_typeH .days{background:#009cff; margin-left:10px;}

/* table_typeH fomA */
.fomA tr td:last-child{color:#1d49ad;} 
.fomA .border_show{border-left:0;}
.fomA tr td{border-right:0;}

/*page_list*/
.pc-pager-skin-vinyl{text-align:center; font:14px Verdana;}
.pc-pager-skin-vinyl .firstpage, .pc-pager-skin-vinyl .lastpage, .pc-pager-skin-vinyl .preBlockpage, .pc-pager-skin-vinyl .prepage, .pc-pager-skin-vinyl .nextpage, .pc-pager-skin-vinyl .nextBlockpage {
     display:inline-block; width:40px; height:40px; margin-top:5px; padding:0; vertical-align:middle; font-size:0; line-height:0; overflow:hidden; color:transparent;}
.pc-pager-skin-vinyl .preBlockpage{background:url(../img/btn_pager.png) no-repeat 10px 15px;}
.pc-pager-skin-vinyl .nextBlockpage{background:url(../img/btn_next.png) no-repeat 10px 15px;}
.pc-pager-skin-vinyl div, .pc-pager-skin-vinyl p, .pc-pager-skin-vinyl span{line-height:100%;}
.pc-pager-skin-vinyl span{vertical-align:middle;}
.pc-pager-skin-vinyl strong{color: #FFF; border:1px solid #808080;}
.pc-pager-skin-vinyl strong{display: inline-block; width:40px; height:40px; padding-top:12px;  color:#202020; text-decoration:none; vertical-align:middle; -moz-border-radius:3px;}
.pc-pager-skin-vinyl a {display:inline-block; width:40px; height:40px; margin-left:-6px; padding-top:12px; border:1px solid #e1e1e1; color:#888; text-decoration:none; vertical-align:bottom;}

.fomB td{/*outline:1px solid red; padding:10px 0;*/}

/* table type 01 */
.table_type_01 {width:100%; text-align:left; border-spacing:0px; border-top:1px solid #363636; border-bottom:1px solid #363636;}
.table_type_01 th {padding:25px 30px; border-bottom:1px solid #e6e6e6; color:#202020; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px; vertical-align:top;}
.table_type_01 td {padding: 15px 0 15px 30px; border-bottom:1px solid #e6e6e6; color:#666}
.table_type_01 .col{border-bottom:none;}
.table_type_01 .selectedB{width:100px; height:40px; float:left; margin-left:-1px; border:1px solid #e3e6e8; color:#666; padding: 0 15px;background: url(../img/arrow.png) no-repeat 92% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.input_type_01{width:300px; height:40px; margin-right:-6px; color:#e3e6e8; border:1px solid #e3e6e8;}
.table_type_01 .input_btn_wrap{padding-bottom:10px;}

.table_type_01 .selectedC{width:200px; height:40px; float:left; margin-left:-1px; border:1px solid #e3e6e8; color:#666; padding: 0 15px;background: url(../img/arrow.png) no-repeat 92% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.table_type_01 .maile_box{}
.table_type_01 .maile_box::after{content:''; display:block; clear:both;}
.table_type_01 .input_mail{float:left;}
.table_type_01 .hyphen{position:relative;}
.table_type_01 .text_mail{position:absolute; left:-9px; top:5px;}
.input_mail .input_typeA{width:150px; height:40px; padding:0 15px; margin-left:-1px; border:1px solid #e3e6e8;}
.input_mail .typeA{border-left:none}


/* input_type_02 */
.input_type_02 {width:100px; height:40px; float:left; margin-left: -1px;border: 1px solid #e3e6e8;padding: 0 15px;appearance: none;}
.btn_type_03{width:130px; height:40px; margin-left:10px; color:white; vertical-align:top; font-size:16px; background-color: #444444;border: 0;cursor: pointer;}

.locall{margin-top:85px;}
.locall:after{content:''; display:block; clear:both;}
.locall p{float:left; font-size:16px;  color:#666;}
.locall p:last-child{float:right}

/*coupon_bar*/
.coupon_bar{width:100%; padding:30px 20px; background:#fafafa; border:1px solid #e6e6e6}
.coupon_bar:after{content:''; display:block; clear:both;}
.coupon_bar p{float:left;}
.coupon_bar p span{display:inline-block; margin-left:30px; vertical-align:bottom;}
.coupon_bar .big_blue{font-size:30px; color:#1d49ad;}
.coupon_bar button{width:120px; float:right; line-height:40px; background:#444; border:none;}
.coupon_bar button a{display:block; color:#fff;}

/* table type J */
.table_typeJ{width:100%; text-align:left; border-top:1px solid #363636; border-bottom:1px solid #363636}
.table_typeJ th {padding:25px 30px; color:#202020; border-bottom: 1px solid #e6e6e6; vertical-align:top; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px;}
.table_typeJ td{padding:15px 0 15px 30px; border-bottom:1px solid #e6e6e6; }
.table_typeJ ul li{float:left;}
.table_typeJ ul li:first-child{margin-right:10px;}
.table_typeJ ul li::after{content:''; display:block; clear:both;}
.table_typeJ label, .table_typeJ input{vertical-align:top;}
.table_typeJ .selecedB{width:100px; height:40px; float:left; margin-left:-1px; border:1px solid #e3e6e8; padding:0 15px; background:url(../img/arrow.png) no-repeat 92% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none;}

/* 조회기간 */
.table_typeJ .cal_btn_wrap{display:block; position: relative; width:190px; height:40px; float:left;}
.table_typeJ .cal_btn_wrap input[type=text] {padding:0 15px; padding-right:40px; height:40px; display:block; width:100%; line-height:38px; color:#333; font-size:1.077rem; -webkit-appearance:none; border:1px solid #e3e6e8}
.table_typeJ .cal_btn_wrap input[type=date] {position:absolute; top:0; right:0; bottom:0; width:40px; height:40px; background:url(../img/calendar.png) no-repeat 50%; border:0 none; background-size:22px 22px; -webkit-appearance:none; color:transparent; font-size:0; line-height:0;}
.con-btn {overflow:hidden; margin-top:-5px;}
.con-btn .con-btn-wrap{display:inline-block; position:relative; float:left; margin:5px 0px 0 0; background:url(../img/icon-verLine.png) no-repeat right 0% top 12px;}
.con-btn .con-btn-wrap:last-child{background:none;}
.con-btn .con-btn-wrap input[type="radio"] {position:absolute; top:0; left:0; z-index:-1; display:none;}
 input[type="radio"], input[type="checkbox"] {margin:0; padding:0; border:0 none; background:0 none; -webkit-appearance:none;}
 .con-btn .con-btn-wrap label {display: block; min-width: 90px; padding: 12px 0 12px; text-align: center; /*border: 1px solid #1d49ad; background-color: #fff;*/ color: #444; font-size:16px; }
 .con-btn .con-btn-wrap input:checked + label {/*background-color: #006bbe;*/ border:1px solid #1d49ad; color: #1d49ad; cursor:pointer}

 /* 진행상태 */
.radio {display: inline-block; position: relative; min-height: 20px;}
.table_typeJ .radio_A{display:inline-block; position:relative; line-height:40px; margin-right:50px; min-height:20px; font-size:16px; color:#666;}
.table_typeJ .radio_A:last-child{margin-right:0;}
.table_typeJ .radio_A input[type="radio"] {content: ''; position: absolute; left: 0; top: 10px; width: 20px; height: 20px; text-align: center; background: #fafafa; border: 1px solid #cacece; border-radius: 100%; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);}
.table_typeJ .radio_A input[type="radio"] + label {display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
.table_typeJ .radio_A input[type="radio"]:checked + label:after {content: ''; position: absolute; top: 15px; left: 5px; width: 10px; height: 10px; background: #1d49ad;  border-radius: 100%; box-shadow: inset 0px 0px 10px rgba(29,73,173,0.3);}

.buttonA {text-align: center; margin-top:40px;}
.buttonA .btn_type_05, .btn_type_06 {width:150px; line-height:50px; background-color:#fff; border:none; font-size:16px;}
.buttonA .btn_type_05{border:1px solid #ccc;}
.buttonA .btn_type_05 a{color:#444;}
.buttonA .btn_type_06 {width:150px; font-size:16px; background-color: #16295d; color: #fff; }
.buttonA .btn_type_06  a{color:#fff;}

/* table type K */
.table_typeK{width:100%; text-align:left; border-spacing:0px; border-top:1px solid #363636; border-bottom:1px solid #363636;}
.table_typeK th {padding:25px 30px; border-bottom:1px solid #e6e6e6; color:#202020; background:url(../img/icon-verLine.png) no-repeat right 0% top 28px; vertical-align:top;}
.table_typeK td {padding-left:30px; border-bottom:1px solid #e6e6e6; color:#666;}
.table_typeK td:after{content:''; display:block; clear:both;}
.table_typeK td ul{/*width:926px;*/ padding:10px 0;  overflow-y:scroll; height:162px;}
.table_typeK td ul li{float:left; margin:0 10px 10px 0; width:223px; height:135px; border:1px solid #e3e6e8; background:#fafafa;}
.table_typeK td ul li:last-child{margin:0;}
.btnA{margin-top:80px;}

/*tab-menu item4*/
.tab-menu.item4 li {width: 33%;}
.tab-menu ul > li {position: relative;  float: left; width: 33%;}
.tab-menu li.on:before, .tab-menu li.on:after{content: ''; display: inline-block;  width: 5px; height: 5px; border-radius: 5px; position: absolute; bottom: 0; z-index: 1; background-color: #003975;}
.tab-menu .tab-item-wrap{display: table; width: 100%; min-height: 48px;}
.tab-menu li.on .tab-item-wrap a{font-weight: bold; color: #0969b3; letter-spacing: -1px;}
.tab-menu .tab-item-wrap a { position: relative; display: table-cell; text-align: center; vertical-align: middle; color: #7e8084; line-height: 1.1; font-size: 1.154rem;}
.blind {overflow: hidden; display: block; width: 0; height: 0; opacity: 0;}
.tab-menu li.on .tab-item-wrap a:after {border-top: 5px solid #0869b3; left: 1px; right: 1px; border-radius: 5px;}
.tab-menu .tab-item-wrap a:after {content: ''; display: block; border-top: 1px solid #f2f2f2; position: absolute; bottom: 0; left: 0; right: 0;}
.tab-menu ul:after{content: '';  display: block; height: 0; clear: both;}

/*color_staff
.color_staff{margin:0 auto; text-align:center; overflow:hidden;  height:50px;}
.color_staff ul{margin: 0 auto; padding: 0 15%; line-height:50px;}
.color_staff ul li{position:relative; width:25%; float:left; font-size:26px; color:#888;}
.color_staff ul .staf_blurcolor:after{width:9px; height:13px; content:''; display:block; clear:both; position:absolute; right:0; top:18px; background:url(../img/staf_blue.png) no-repeat;}
.color_staff ul .staf_garycolor:after{width:9px; height:13px; content:''; display:block; clear:both; position:absolute; right:0; top:18px; background:url(../img/staf_gray.png) no-repeat;}
.color_staff ul a{color:#888;}
.color_staff ul .staf_blurcolor a{padding-bottom:5px; color:#1d49ad; border-bottom:3px solid #1d49ad}

.blue_none ul .staf_blurcolor:after{background:none;}*/



/*stafA 스탭 3개 margin:0 25%; 스탭 4개 margin:0 25%;*/
.color_staff{margin:0 20%; text-align:center; overflow:hidden;  height:50px;}
.color_staff ul{margin:0 auto; line-height: 50px;}
.color_staff ul li{display:inline-block; position: relative; margin-right: 50px; float: left; font-size: 26px; color: #888; padding-right: 50px;}
.color_staff ul .staf_blurcolor:after{width:9px; height:13px; content: ''; display:block; clear:both; position:absolute; right:0; top:18px; background: url(../img/staf_blue.png) no-repeat;}
.color_staff ul .staf_garycolor:after{width:9px; height:13px; content:''; display:block; clear:both; position:absolute; right:0; top:18px; background:url(../img/staf_gray.png) no-repeat;}
.color_staff ul a{color:#888;}
.color_staff ul .staf_blurcolor a{padding-bottom:5px; color:#1d49ad; border-bottom:3px solid #1d49ad}
.color_staff ul li:last-child{margin:0; padding:0;}
.blue_none ul .staf_blurcolor:after{background:none;}

/*stafA 스탭 3개 margin:0 25%; 스탭 4개 margin:0 25%;*/
.stafA{margin:0 25%; text-align:center; overflow:hidden; height:50px;}

/*popup*/
.pop_wrap{width:500px; /*height:420px;*/ padding:40px 30px 30px; text-align:center; margin:0 auto; background:#fff;}
.pop_wrap h4{margin-bottom:20px; font-size:25px; color:#000; font-weight:400;} 
.pop_texts{width:440px; /*height:220px;*/ padding:0 30px; text-align:center; font-size:16px; color:#666; background:#f8f7f7; border:1px solid #e6e6e6;}
.p_text2:after{content:''; display:block; clear:both;}
.p_text1{padding:40px 0;}
.p_text1 span{display:inline-block;}
.p_text1 .text_height{line-height:26px;}
.p_text1 .black{margin-top:20px; color:#000;}
.p_text2{padding:20px 50px 30px 50px; border-top:1px solid #e6e6e6}        
.blue_text{font-size:20px; color:#1d49ad; float:left;}
.gray_text{font-size:14px; color:#888; float:right;}
.pop_btn{margin:30px 0;} 

.input_typeB{width:240px; height:40px; border:1px solid #e3e6e8; }
.popup_list{margin-top:20px;}
.popup_list th{padding: 25px 20px 25px 30px; letter-spacing:-2px;}
.popup_list td{padding:15px 30px; letter-spacing:-1px;}
.popup_list .popup_text{padding-top:10px; line-height:20px; font-size:14px; color:#888;}
.popup_list .selectedD{width:220px; height:40px; float:left; margin-left:-1px; border:1px solid #e3e6e8; color:#666; padding: 0 15px; background: url(../img/arrow.png) no-repeat 92% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;}

.pop_wrapA{width:580px;}
.popup_list .input_typeD{width:220px;}
.popup_list .btnD{width:95px;}